<header class="header">
  <h3 class="header-title">
    <a class="logo" href="{{ site.github.url }}/">{{ site.title }}</a>
    <br>
    <iframe src="https://store.steampowered.com/widget/2180610/?t=Cabbagers%20is%20multiplayer%20combat%20game%20about%20bunch%20of%20adult%20fellas%20from%20a%20neighborhood%20who%20play%20knights%20like%20children%20do." frameborder="0" width="646" height="190"></iframe>
    <!-- <small class="header-subtitle">{{ site.description }}</small> -->
    <br>
    {% include menu.html %}
  </h3>
</header>
